<div class='background'>
    <div class='login'>
        <header>
            <a href="/" class="logo">
                <div class="logo-holder logo-animation">
                    <div class="logo-left-arm logo-animation"></div>
                    <div class="logo-body-left logo-animation"></div>
                    <div class="logo-body-right logo-animation"></div>
                    <div class="logo-right-arm logo-animation"></div>
                </div>
                <img src="//cdn03.gitter.im/_s/956ddab/images/home/logo_nomargin@2x.png" alt="Gitter" class="logo-image menu-animation">
            </a>
        </header>
        <section>
            <h1>My first Gitter Application.</h1>
            <p>
                <a class="btn" href="/login?action=login&source=login_page-login">
                    Sign in to start talking
                </a>
            </p>
        </section>
    </div>
</div>